   .example-card {
    width: 50%;
  
  }

  p {
    font-family: Lato;
  }

  .logout{
    margin-top: 1%;
    margin-left: 65vw;
    width: 30%;
}



a{
  color:blue;
  text-decoration: none;

}


.row :hover{
  transition: transform .2s;
  transform: scale(1.02) ;

}

  
  

 